@charset "utf-8";

body {
    margin-left: 50px;
}

h1 {
    text-align: left;
    text-decoration:underline;
}

.instlist {
    text-align: left;
}

button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
    border-radius: 15px;
    padding: 3px 8px;
    box-shadow: 0 9px rgb(173, 151, 151);
    margin: 3px;
}

button:hover {
    background-color:rgb(175, 85, 75);
}
button:active {
    background-color:rgb(223, 174, 155);
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

.trending {
    margin-left: 192px;
}

.searchBar, .ratBar, .yearBar {
    border-radius: 7px;
}

.titleResults {
    position:absolute;
    left: 700px;
    top: 240px;
}

.yearSearch {
    margin-bottom: 10px;
}

.pTrend {
    margin-top: 5px;
}

.trendingResults { /*not done*/
    margin-bottom: 10px;
    right: 3px;
}